*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  /*   background-image: linear-gradient(
    220deg,
    #fff 0%,
    $color-texto-primario 100%
  ); */
  z-index: 1;
  position: relative; }
  body > * {
    color: #5b5b5b; }

.curved, .curved2 {
  position: absolute;
  top: 4%;
  right: 0;
  left: 0;
  background: #004d40;
  height: 55vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: -1; }
  @media only screen and (max-width: 75em) {
    .curved, .curved2 {
      height: 95vh; } }

.curved2 {
  top: -10%;
  height: 200vh; }

.fa-whatsapp {
  border-radius: 50%;
  color: #05b460;
  font-size: 4rem;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: none; }
  .fa-whatsapp:hover {
    transform: scale(1.1); }

.icono-desktop {
  width: 10rem;
  height: 10rem;
  transition: 0.4s; }
  .icono-desktop:hover {
    transform: scale(1.2); }
  @media only screen and (max-width: 30em) {
    .icono-desktop {
      width: 7rem;
      height: 7rem; } }

.wsp {
  cursor: pointer;
  transition: transform 0.5s ease;
  position: fixed;
  left: 95%;
  bottom: 0; }
  @media only screen and (max-width: 75em) {
    .wsp {
      left: 83%; } }

main {
  padding: 2rem 8rem; }
  @media only screen and (max-width: 75em) {
    main {
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 57em) {
    main {
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 35em) {
    main {
      padding: 0; } }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #004d40;
  padding: 0 2rem;
  box-shadow: 0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1; }
  .header__logo {
    width: 30rem;
    height: 10rem; }
    @media only screen and (max-width: 35em) {
      .header__logo {
        width: 17rem; } }

.navbar {
  box-shadow: none; }
  .navbar-toggler-icon {
    color: #fff; }
    @media only screen and (max-width: 35em) {
      .navbar-toggler-icon {
        margin-right: 3rem; } }

.navbar-nav {
  margin-left: auto;
  align-items: center; }

.nav-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.4rem 2rem;
  transition: transform 0.2s ease, color 0.2s ease; }
  @media only screen and (max-width: 35em) {
    .nav-link {
      font-size: 1.2rem; } }
  .nav-link:hover {
    transform: translateX(4px);
    color: antiquewhite; }

.carousel-img {
  height: 60rem; }

.carousel {
  margin-top: 15vh;
  z-index: -1; }
  @media only screen and (max-width: 75em) {
    .carousel {
      margin-top: 10vh; } }
  @media only screen and (max-width: 35em) {
    .carousel {
      margin-top: 10vh; } }

.titulo__principal {
  margin: 4rem 0;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

.titulo__secundario {
  font-size: 2.5rem; }

.titulo__descripcion {
  font-size: 1.7rem; }

.historia {
  margin-top: 10vh;
  background-color: #f0f0f0;
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  margin: 8vh 0; }
  @media only screen and (max-width: 35em) {
    .historia {
      padding: 1rem; } }
  .historia__box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(57rem, 1fr)); }
    @media only screen and (max-width: 50em) {
      .historia__box {
        grid-template-columns: 100%; } }
  .historia__img {
    max-width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 77, 64, 0.4); }
  .historia__descripcion {
    padding: 4rem;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #000; }
    @media only screen and (max-width: 37.5em) {
      .historia__descripcion {
        margin-top: 2rem;
        padding: 1rem; } }
    .historia__descripcion--2 {
      font-weight: bold;
      margin: 3rem; }

.valores {
  background-color: #f0f0f0;
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  margin: 8vh 0;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .valores__titulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem; }
  .valores__texto {
    font-size: 1.5rem; }
  .valores__box {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
    @media only screen and (max-width: 35em) {
      .valores__box {
        grid-gap: 0;
        grid-row-gap: 4rem; } }
  .valores__card {
    box-shadow: 0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.7s ease; }
    @media only screen and (max-width: 35em) {
      .valores__card {
        margin-right: 2rem; } }
    .valores__card:hover {
      transform: scale(1.1); }
    .valores__card--img {
      width: 100%;
      max-width: 100%;
      height: 30rem; }
    .valores__card--titulo {
      font-size: 2rem;
      font-style: oblique;
      letter-spacing: 2px;
      background-color: #004d40;
      text-align: center;
      font-weight: bold;
      width: 100%;
      color: #fff;
      padding: 1rem; }
    .valores__card--descripcion {
      font-size: 1.6rem;
      padding: 2rem;
      font-weight: 300; }
      @media only screen and (max-width: 35em) {
        .valores__card--descripcion {
          font-size: 2rem;
          font-weight: 400; } }

.servicios {
  background-color: #f0f0f0;
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  margin: 8vh 0; }
  .servicios__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 12rem;
    align-items: center; }
  .servicios__lista {
    list-style: none;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    padding: 1.5rem; }
    @media only screen and (max-width: 35em) {
      .servicios__lista {
        grid-template-columns: 100%; } }
  .servicios__item {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem 0; }
    .servicios__item > span {
      color: #004d40;
      margin-right: 1rem; }

.oportunidades {
  min-height: 80vh; }
  .oportunidades__box {
    display: grid;
    grid-gap: 2rem;
    padding: 3rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-top: 10vh; }
    @media only screen and (max-width: 75em) {
      .oportunidades__box {
        margin-top: 17vh; } }
    @media only screen and (max-width: 37em) {
      .oportunidades__box {
        margin-top: 0vh;
        transform: translateY(10rem);
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 23em) {
      .oportunidades__box {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
  .oportunidades__img {
    max-width: 100%;
    height: 40rem; }
    @media only screen and (max-width: 37em) {
      .oportunidades__img {
        height: 30rem;
        margin: 1rem 0; } }
  .oportunidades__anuncio {
    text-align: center;
    z-index: -1;
    transform: skewY(0deg);
    transform-origin: top right;
    height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8rem; }
    .oportunidades__anuncio h1 {
      font-size: 4rem;
      font-weight: bold; }
      @media only screen and (max-width: 75em) {
        .oportunidades__anuncio h1 {
          margin-top: 10vh; } }
      @media only screen and (max-width: 37em) {
        .oportunidades__anuncio h1 {
          font-size: 2.5rem; } }
    .oportunidades__anuncio h3 {
      font-size: 2rem; }
      @media only screen and (max-width: 37em) {
        .oportunidades__anuncio h3 {
          font-size: 1.9rem;
          margin-top: 1rem; } }
      @media only screen and (max-width: 23em) {
        .oportunidades__anuncio h3 {
          font-size: 1.2rem; } }

.contacto {
  min-height: 85vh;
  margin-top: 8vh; }
  @media only screen and (max-width: 56.27em) {
    .contacto {
      margin-top: 8vh; } }
  @media only screen and (max-width: 23em) {
    .contacto {
      margin-top: 8vh; } }
  .contacto__container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center; }
    @media only screen and (max-width: 56.27em) {
      .contacto__container {
        grid-template-columns: 100%; } }
    * > .contacto__container {
      color: antiquewhite; }
  .contacto__box {
    margin: 0 auto 4rem 0; }
    @media only screen and (max-width: 56.27em) {
      .contacto__box {
        transform: translateY(5rem);
        margin: 0; } }
  .contacto__card {
    text-align: center;
    margin: 3rem 0; }
    .contacto__card a {
      color: inherit;
      font-size: 2rem;
      font-weight: bold; }
      @media only screen and (max-width: 56.27em) {
        .contacto__card a {
          display: flex;
          justify-content: center;
          font-size: 1.2rem; } }
      @media only screen and (max-width: 23em) {
        .contacto__card a {
          font-size: 0.9rem; } }
  .contacto__icon {
    font-size: 4rem;
    margin-right: 1rem; }
    @media only screen and (max-width: 56.27em) {
      .contacto__icon {
        font-size: 3rem; } }
  .contacto p {
    font-weight: bold;
    margin: 0;
    font-size: 2rem; }
    @media only screen and (max-width: 56.27em) {
      .contacto p {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 23em) {
      .contacto p {
        font-size: 1.2rem; } }
  .contacto__oficina {
    margin-top: 2rem;
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 56.27em) {
      .contacto__oficina {
        padding: 2rem; } }
    @media only screen and (max-width: 35em) {
      .contacto__oficina {
        padding: 0 4rem; } }
    .contacto__oficina--box {
      display: flex;
      align-items: center;
      margin: 3rem 0; }
  .contacto iframe {
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 56.27em) {
      .contacto iframe {
        width: 98%; } }

.footer {
  text-align: center;
  cursor: pointer; }
  .footer__text {
    color: #004d40;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 3rem;
    transition: all 0.7s ease;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
    .footer__text:hover {
      transform: translateY(-0.3rem);
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
      color: #004d40; }
