*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  /*   background-image: linear-gradient(
    220deg,
    #fff 0%,
    $color-texto-primario 100%
  ); */
  z-index: 1;
  position: relative;
  & > * {
    color: #5b5b5b;
  }
}
.curved {
  position: absolute;
  top: 4%;
  right: 0;
  left: 0;
  background: $color-texto-primario;
  height: 55vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: -1;
  @media only screen and (max-width: 75em) {
    height: 95vh;
  }
}
.curved2 {
  @extend .curved;
  top: -10%;
  height: 200vh;
}

.fa-whatsapp {
  border-radius: 50%;
  color: #05b460;
  font-size: 4rem;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: none;
  &:hover {
    transform: scale(1.1);
  }
}
.icono-desktop {
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  &:hover {
    transform: scale(1.2);
  }
  @media only screen and (max-width: 30em) {
    width: 7rem;
    height: 7rem;
  }
}
.wsp {
  cursor: pointer;
  transition: transform 0.5s ease;
  position: fixed;
  left: 95%;
  bottom: 0;
  @media only screen and (max-width: 75em) {
    left: 85%;
  }
  @media only screen and (max-width: 30em) {
    left: 76%;
  }
}
main {
  padding: 2rem 8rem;
  @media only screen and(max-width:75em) {
    padding: 2rem 5rem;
  }
  @media only screen and(max-width:57em) {
    padding: 1rem 3rem;
  }
  @media only screen and(max-width:35em) {
    padding: 0;
  }
}
