.carousel-img {
  height: 60rem;
}
.carousel {
  margin-top: 15vh;
  z-index: -1;
  @media only screen and(max-width:75em) {
    margin-top: 10vh;
  }
  @media only screen and(max-width:35em) {
    margin-top: 10vh;
  }
}
.titulo__principal {
  margin: 4rem 0;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.titulo__secundario {
  font-size: 2.5rem;
}
.titulo__descripcion {
  font-size: 1.7rem;
}
