.contacto {
  min-height: 85vh;
  margin-top: 8vh;
  @media only screen and(max-width:56.27em) {
    margin-top: 8vh;
  }
  @media only screen and(max-width:23em) {
    margin-top: 14vh;
  }

  &__container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    @media only screen and(max-width:56.27em) {
      grid-template-columns: 100%;
    }
    * > & {
      color: antiquewhite;
    }
  }
  &__box {
    margin: 0 auto 4rem 0;
    @media only screen and(max-width:56.27em) {
      transform: translateY(5rem);
      margin: 0;
    }
  }
  &__card {
    text-align: center;
    margin: 3rem 0;
    a {
      color: inherit;
      font-size: 2rem;
      font-weight: bold;
      @media only screen and(max-width:56.27em) {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
      }
      @media only screen and(max-width:23em) {
        font-size: 0.9rem;
      }
    }
  }
  &__icon {
    font-size: 4rem;
    margin-right: 1rem;
    @media only screen and(max-width:56.27em) {
      font-size: 3rem;
    }
  }
  p {
    font-weight: bold;
    margin: 0;
    font-size: 2rem;
    @media only screen and(max-width:56.27em) {
      font-size: 1.5rem;
    }
    @media only screen and(max-width:23em) {
      font-size: 1.2rem;
    }
  }
  &__oficina {
    margin-top: 2rem;
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and(max-width:56.27em) {
      padding: 2rem;
    }
    @media only screen and(max-width:35em) {
      padding: 0 4rem;
    }
    &--box {
      display: flex;
      align-items: center;
      margin: 3rem 0;
    }
  }
  iframe {
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    @media only screen and(max-width:56.27em) {
      width: 98%;
    }
  }
}
