.footer {
  text-align: center;
  background-color: #fff;
  padding: 1rem;
  cursor: pointer;

  &__text {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    transition: all 0.7s ease;
    &:hover {
      transform: translateX(1rem);
      text-shadow: 0 1rem 2rem rgba(#000, 0.3);
    }
  }
}
