.footer {
  text-align: center;
  cursor: pointer;
  &__text {
    color: $color-texto-primario;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 3rem;
    transition: all 0.7s ease;
    text-shadow: 1rem 1rem 1rem rgba(#000, 0.3);
    &:hover {
      transform: translateY(-0.3rem);
      text-shadow: 0 1rem 2rem rgba(#000, 0.3);
      color: $color-texto-primario;
    }
  }
}
