.historia {
  margin-top: 10vh;
  @include fondoSeccion;
  @media only screen and(max-width:35em) {
    padding: 1rem;
  }
  &__box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(57rem, 1fr));
    @media only screen and(max-width:50em) {
      grid-template-columns: 100%;
    }
  }
  &__img {
    max-width: 100%;
    box-shadow: 2px 2px 10px rgba($color-texto-primario, 0.4);
  }
  &__descripcion {
    padding: 4rem;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #000;
    @media only screen and(max-width:37.5em) {
      margin-top: 2rem;
      padding: 1rem;
    }
    &--2 {
      font-weight: bold;
      margin: 3rem;
    }
  }
}
.valores {
  @include fondoSeccion;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  &__titulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__texto {
    font-size: 1.5rem;
  }
  &__box {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    @media only screen and(max-width:35em) {
      grid-gap: 0;
      grid-row-gap: 4rem;
    }
  }
  &__card {
    box-shadow: 0.7rem 0.7rem 1rem rgba(#0000, 0.3);
    cursor: pointer;
    transition: transform 0.7s ease;
    @media only screen and(max-width:35em) {
      margin-right: 2rem;
    }
    &:hover {
      transform: scale(1.1);
    }
    &--img {
      width: 100%;
      max-width: 100%;
      height: 30rem;
    }
    &--titulo {
      font-size: 2rem;
      font-style: oblique;
      letter-spacing: 2px;
      background-color: $color-texto-primario;
      text-align: center;
      font-weight: bold;
      width: 100%;
      color: #fff;
      padding: 1rem;
    }
    &--descripcion {
      font-size: 1.6rem;
      padding: 2rem;
      font-weight: 300;
      @media only screen and(max-width:35em) {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}
.servicios {
  @include fondoSeccion;
  &__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 12rem;
    align-items: center;
  }
  &__lista {
    list-style: none;
    display: grid;
    justify-content: flex-start;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    padding: 1.5rem;
    @media only screen and(max-width:35em) {
      grid-template-columns: 100%;
    }
  }
  &__item {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.5rem 0;
    & > span {
      color: $color-texto-primario;
      margin-right: 1rem;
    }
  }
}
