.oportunidades {
  min-height: 80vh;

  &__box {
    display: grid;
    grid-gap: 2rem;
    padding: 3rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-top: 10vh;
    @media only screen and (max-width: 75em) {
      margin-top: 17vh;
    }
    @media only screen and (max-width: 37em) {
      margin-top: 8vh;
      transform: translateY(5rem);
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: 23em) {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }
  &__img {
    max-width: 100%;
    height: 40rem;
    @media only screen and (max-width: 37em) {
      height: 30rem;
      margin: 1rem 0;
    }
  }
  &__anuncio {
    text-align: center;
    z-index: -1;
    transform: skewY(0deg);
    transform-origin: top right;
    height: 18rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    h1 {
      font-size: 4rem;
      font-weight: bold;
      @media only screen and (max-width: 75em) {
        margin-top: 10vh;
      }
      @media only screen and (max-width: 37em) {
        font-size: 2.5rem;
      }
    }
    h3 {
      font-size: 2rem;
      @media only screen and (max-width: 37em) {
        font-size: 1.7rem;
        margin-top: 1rem;
      }
      @media only screen and (max-width: 23em) {
        font-size: 1.2rem;
      }
    }
  }
}
